#pList{
    
}
#pList>div{
   display: flex;
   gap:3%;
    margin-bottom: 4%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#pList,h1{
    width:60%;
    margin-left:7%;
}
#pList>div>img {
    height: 270px;
    width:270px;
    padding: 5%;
}
#strike{
   text-decoration: line-through;
}
#price{
    color:rgb(199, 32, 44);
    font-size: 25px;
    font-weight:900;

}
#pList>div>div {
    margin-right: 5%;
    margin-top: 5%;
}
#removeBT{
    display: block;
    margin-top: 8%;

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
}

#cartContainer{
    display: flex;
    gap: 2%;
}
 #totalAmount{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 100%;
    background: #fff;
    border-bottom: 1px solid #dadcdf;
    margin-bottom: -3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin:0 9% 0% 1%;
 }
 #coBT{
        background-color: #2f3337;
        color: #fff;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-flex;
        font-family: Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
        font-weight: 400;
        justify-content: center;
        margin-left: 90%;
        padding: 0 16px;
        position: relative;
        text-decoration: none;
        width: 100%;
        font-size: 16px;
        height: 44px;
 }
