body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
.nav{
    width: 100%;
}
#logo{
    width:200px;
    height: 70px;
}
#logoSearch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(249, 250, 251);
}
#logoSearch>div>input{
    width:60vw;
    font-size: 20px;
    padding: 5px;
}
button>img{
    background-color: red;
    height: 36px;
    width: 35px;
    border-radius: 4px;
}
#logoSearch>div>button{
    height: 26px;
    width: 26px;
    margin: 0%;
    border: 0;
    background-color: white;
}
#searchbar{
    display: flex;
}
#categories{
    display: flex;
    gap:3%;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
<<<<<<< HEAD
    /* text-decoration: none; */

=======
}
#categories>a{
    margin-bottom:1%;
>>>>>>> 5fb24812a147041f86505e8f1bfab8618f1e2974
}
div>a{
    text-decoration: none;
}

#fo_links{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(83, 86, 88);
    color: white;
}
#footerest{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 51, 55);
    color: white;
}
#footerest>div>span{
   padding: 10px;
}

*{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#fridaySale{
    width: 90%;
    margin: auto;
}
#fridaySale >img{
    width: 100%;
}
.subHeading{
    padding: 10px;
}
.subHeading >h2{
    text-align: center;
}
#saleContainer{
    display: flex;
}
.cmWidth{
    width:90%;
    margin: auto;
}
.middleSale{
    margin: 40px auto;
}
.middleSale > img{
    width: 100%;
}
#saleContainer >div{
   flex:1;
}
#saleContainer >div >img{
    max-width: 100%;
}
#saleContainer >div > h4{
    margin: 0px;
    padding: 16px 10px;
    text-align: center;
}
#category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 40px;
}

#category >div >img{
    max-width: 100%;
}
#category >div >p{
    text-align: center;
    color: #545658;
}
.leftArr{
    display: flex;
    justify-content: space-between;
}
.leftArr >div{
    width:24%;
   background-color: #f5f5f5;
}

.leftArr >div >img{
    max-width: 100%;
}
.leftArr >div >h3,.leftArr>div>p{
    padding: 0px 14px;
}
#overstockBrands{
    display: flex;
    justify-content: space-between;
}
#overstockBrands >div{
    width: 24%;
    background-color: #f5f5f5;
}
#overstockBrands >div> img{
    max-width: 100%;
}
#overstockBrands >div >p{
    text-align: center;
    padding: 0px;
    margin: 5px;
}
#overstockBrands >div >p:nth-child(2){
    font-weight: bold;
}
#overlayContainer{
    position:relative;
}

.overlay{
    position: absolute;
    bottom: 0;
}
.overlay >img{
    width: 100%;
}

#yourStyle >div{
    width:32.5%;
}
#btnStyle{
    
    background-color: #545658;
    color:white;
    margin:30px auto;
    display: block;
    padding: 15px 25px;
    border:0px;
    border-radius: 7px;
    font-size: 18px;
}
#tableData>table{
    width: 100%;
    text-align: center;
    background-color:#f5f5f5;
    border-collapse: collapse;
}
td{
    padding: 15px;
    border: 10px solid rgb(255, 255, 255);
    font-weight: bold;
    color: #545658;
}
<<<<<<< HEAD

/* -----------------------list drop Down Menu */
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .dropdown a{
      text-decoration: none;
      color: #000101;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #615d5d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  div>a+hr{
      margin: 10px;
  
  }
  
  .dropdown-content a:hover {background-color: #fff; color: black;}
  
  .dropdown:hover .dropdown-content {display: block;}

  /* --------------Account_Drop Down menu------------------ */
  /* .account-dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .account-dropdown a{
      text-decoration: none;
      color: #000101;
  }
  
  .account-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .account-dropdown-content a {
    color: #615d5d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  div>div+hr{
      margin: 10px; 
  
  }
  .sign >h2{
      margin: 0px;
  }
  .account >h2{
      margin: 0px;
  } */
  .account-dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .account-dropdown a{
      text-decoration: none;
      color: #000101;
  }
  
  
  .account-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .account-dropdown-content a {
    color: #615d5d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  div>div+hr{
      margin: 10px; 
  
  }
  .sign >h2{
      margin: 0px;
  }
  .account >h2{
      margin: 0px;
  }
  
  
  
  .account-dropdown-content > a:hover {background-color: #fff; color: black; text-decoration: underline;}
  
  .account-dropdown:hover.account-dropdown-content {display: block;}
  .sign_in:hover .sign{text-decoration:underline;}
  .create_account:hover .account{text-decoration: underline;}
=======
#qlinks{
    display: flex;
}
#qlinks>div{
    padding: 5%;
}
>>>>>>> 5fb24812a147041f86505e8f1bfab8618f1e2974
